/* Body -> font */
body {
  font-family: Helvetica;
  color: black;
  font-style: normal;
  font-weight: 300;
}

/* css global */
h1 {
  font-weight: bold;
  font-size: 52px;
  line-height: 150%;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  line-height: 2;
}

.button-global {
  background-color: #393f93;
  border: #393f93;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
}

/* header */
header {
  background-color: #f1f3f7;
  padding-top: 24px;
  padding-left: 0%;
  height: 650px;
  margin-bottom: 8px;
}

/* Navbar */
.header-navbar-logo {
  background: #0d28a6;
  width: 100px;
  height: 34px;
}

.nav-item a {
  color: black;
  margin-right: 18px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

/* Header Banner and img */
.header-banner h1 {
  margin-top: 100px;
}

.header-banner img {
  margin-top: 17px;
}

.comunity {
  padding-top: 80px;
  background-color: #f1f3f7;
}

#button-comunity {
  margin-top: 20px;
  text-align: center;
}

#text-comunity {
  font-size: 30px;
}

img {
  filter: drop-shadow(1000%);
}

footer {
  margin-top: 8px;
  background-color: #393f93;
  padding: 60px 0;
  width: 100%;
  bottom: 0;
  color: #adb5bd;
}

.footer .text-foot {
  color: #adb5bd;
}

.footer .footer-head {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

a {
  text-decoration: none;
}
